# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Salida de producción / compilación
/build
/dist

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuración del editor
.vscode/
.idea/
*.swp

# Cache de npm / yarn
.npm/
.yarn/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Otros archivos innecesarios
coverage/
*.log
*.tmp

# Archivos generados por herramientas de testing
jest-test-results.json
