@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.test-form-container {
  max-width: 100%;
  margin: 0 auto;
}

/* p {
  font-size:x-large;
  color: rgb(99, 95, 95);
}

li {
  font-size:x-large;
} */

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100%;
}

.fondoHeader {
  background-color: rgba(37, 195, 234, 0.439);
  background-image: url(/assets/fondoHeaderNew.png);
  background-blend-mode: overlay;
}



.fondoCabecera{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0 75%);
  background-color: rgba(77, 212, 246, 0.757);
  background-image: url('/assets/fondoCabecera.png');
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position:100% 280%;
  background-size:cover  ;
  background-attachment:fixed;
}
.fondoInformacion{
    background-color: rgba(7, 57, 69, 0.757);
  background-image: url('/assets/fondoInformacion.png');
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position:center top;
  background-size:cover  ;
  background-attachment:fixed;
}


/* * {
  user-select: none;
} */

.swiper-slide-active {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* .swiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
} */

.swiper-pagination {
  position: relative;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 100% !important;

  }
  .fondoHeader {
    background-image:url(/assets/fondoHeaderNew.png) ;
  }
}




